.fixedAddFri{
	display: none;
}
@media screen and (max-width: 800px) {
	.fixedAddFri{
		display: block;
		position: fixed;
		bottom: -7px;
		width: 100%;
		z-index: 99999;
	}
}
.content-wrap{
	margin-bottom: 60px;
}
body{
	background-color: #fff;
}